<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bg {
            background-color: #eaeaea;
        }
        .sidebar {
            min-height: 100vh;
        }
        .content {
            flex: 1;
            overflow-y: auto;
        }
    </style>
    <script>
        function toggleView(view) {
            document.getElementById('userTable').style.display = view === 'table' ? 'block' : 'none';
            document.getElementById('newUser Form').style.display = view === 'form' ? 'block' : 'none';
        }

        function fetchUsers() {
            fetch('/api/users')
                .then(response => response.json())
                .then(data => {
                    const userTableBody = document.querySelector('#tbody2');
                    userTableBody.innerHTML = '';
                    data.forEach(user => {
                        const roles = user.roles.map(role => role.role.substring(5)).join(', ');
                        const row = `
                            <tr>
                                <td>${user.id}</td>
                                <td>${user.username}</td>
                                <td>${user.email}</td>
                                <td>${user.password}</td>
                                <td>${roles}</td>
                                <td><button class="btn btn-info btn-sm" onclick="showUpdateForm(${user.id}, '${user.username}', '${user.email}', '${user.password}', '${roles}')">Update</button></td>
                                <td><button class="btn btn-danger btn-sm" onclick="showDeleteForm(${user.id}, '${user.username}', '${user.email}', '${user.password}', '${roles}')">Delete</button></td>
                            </tr>
                        `;
                        userTableBody.innerHTML += row;
                    });
                });
        }

        function createUser (event) {
            event.preventDefault(); // Prevent form submission
            const rolesInput = document.getElementById('rolesInput').value.split(",").map(role => role.trim());
            const roles = rolesInput.map(role => ({ role }));
            const user = {
                username: document.getElementById('username').value,
                email: document.getElementById('email').value,
                password: document.getElementById('password').value,
                roles: roles
            };
            fetch('/api/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            }).then(() => {
                toggleView('table');
                fetchUsers();
            });
        }

        function showUpdateForm(id, username, email, password, roles) {
            document.getElementById('updateUser Id').value = id;
            document.getElementById('updateUsername').value = username;
            document.getElementById('updateEmail').value = email;
            document.getElementById('updatePassword').value = password;
            document.getElementById('updateRolesInput').value = roles;

            const updateModal = new bootstrap.Modal(document.getElementById('updateUser Modal'));
            updateModal.show();
        }

        function showDeleteForm(id, username, email, password, roles) {
            document.getElementById('deleteUser Id').value = id;
            document.getElementById('deleteUsername').value = username;
            document.getElementById('deleteEmail').value = email;
            document.getElementById('deletePassword').value = password;
            document.getElementById('deleteRoles').value = roles;

            const deleteModal = new bootstrap.Modal(document.getElementById('deleteUser Modal'));
            deleteModal.show();
        }

        function updateUser () {
            const id = document.getElementById('updateUser Id').value;
            const rolesInput = document.getElementById('updateRolesInput').value.split(",").map(role => role.trim());
            const roles = rolesInput.map(role => ({ role }));
            const user = {
                username: document.getElementById('updateUsername').value,
                email: document.getElementById('updateEmail').value,
                password: document.getElementById('updatePassword').value,
                roles: roles
            };

            fetch(`/api/users/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            }).then(() => {
                fetchUsers();
                const updateModal = bootstrap.Modal.getInstance(document.getElementById('updateUser Modal'));
                updateModal.hide();
            });
        }

        function deleteUser () {
            const id = document.getElementById('deleteUser Id').value;
            fetch(`/api/users/${id}`, {
                method: 'DELETE'
            }).then(() => {
                fetchUsers();
                const deleteModal = bootstrap.Modal.getInstance(document.getElementById('deleteUser Modal'));
                deleteModal.hide();
            });
        }

        document.addEventListener('DOMContentLoaded', fetchUsers);
    </script>
</head>
<body class="m-0">
<div class="container-fluid p-0">
    <div class="bg-dark text-white p-2">
        <span>User: <strong th:text="${currentUser }"></strong></span>
        <span class="mx-1"></span>
        <span>with roles: <strong th:text="${currentRole}"></strong></span>
        <span class="float-end"><a th:href="@{/logout}" class="text-white">LOGOUT</a></span>
    </div>
    <div class="d-flex">
        <nav class="col-md-2 d-none d-md-block bg-white sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active bg-primary text-white" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="content bg px-4">
            <h2>Admin panel</h2>
            <div id="userTable">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" onclick="toggleView('table')">User  Table</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" onclick="toggleView('form')">Add New User</button>
                    </li>
                </ul>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="table-secondary">ALL USERS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Roles</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbody2"></tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="newUser Form" style="display:none;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" onclick="toggleView('table')">User  Table</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" onclick="toggleView('form')">Add New User</button>
                    </li>
                </ul>
                <table class="table table-bordered rounded">
                    <thead>
                    <tr>
                        <th class="table-secondary">ADD NEW USER</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <form onsubmit="createUser (event);">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" id="username" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" id="email" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="text" id="password" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                    <label for="rolesInput" class="form-label">Roles</label>
                                    <input type="text" id="rolesInput" class="form-control" required />
                                </div>
                                <button type="submit" class="btn btn-success">Add User</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </main>
    </div>
</div>

<!-- Update User Modal -->
<div class="modal fade" id="updateUser Modal" tabindex="-1" aria-labelledby="updateUser ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUser ModalLabel">Update User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="event.preventDefault(); updateUser ();">
                    <input type="hidden" id="updateUser Id" />
                    <div class="mb-3">
                        <label for="updateUsername" class="form-label">Username</label>
                        <input type="text" id="updateUsername" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="updateEmail" class="form-label">Email</label>
                        <input type="email" id="updateEmail" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="updatePassword" class="form-label">Password</label>
                        <input type="text" id="updatePassword" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="updateRolesInput" class="form-label">Roles</label>
                        <input type="text" id="updateRolesInput" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-success">Update User</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteUser Modal" tabindex="-1" aria-labelledby="deleteUser ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUser ModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="event.preventDefault(); deleteUser ();">
                    <div class="mb-3">
                        <label for="deleteUser Id" class="form-label">Id</label>
                        <input type="text" id="deleteUser Id" class="form-control" name="id" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="deleteUsername" class="form-label">Username</label>
                        <input type="text" id="deleteUsername" class="form-control" name="username" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="deleteEmail" class="form-label">Email</label>
                        <input type="email" id="deleteEmail" class="form-control" name="email" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="deletePassword" class="form-label">Password</label>
                        <input type="text" id="deletePassword" class="form-control" name="password" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="deleteRoles" class="form-label">Roles</label>
                        <input type="text" id="deleteRoles" class="form-control" name="deleteRoles" readonly/>
                    </div>
                    <button type="submit" class="btn btn-danger">Delete User</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
