<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <form th:method="POST" th:action="@{/roleAction}" th:object="${newRole}">

    <label for="rolename">Role</label>
    <input th:field="*{role}" type="text" id="rolename"/>
    <br>

    <button type="submit" name="action" value="add">Add Role</button>
    <button type="submit" name="action" value="update">Update Role</button>
    <button type="submit" name="action" value="delete">Delete Role</button>
  </form>
</div>
</body>
</html>